body{
  background-color: grey;
  margin: 0;
}

header & footer {
  color: white;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 6rem;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content{
  background-color: white;
}